*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    
    width: 90%;
    
    margin: auto;

}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
/* CLASSI LAYOUT */
.border{
    border: 1px solid black;
}
.border-radius{
    border-radius: 15px;
}
/* CLASSI COLORE */
.bg-yellow{
    background-color:lightblue;
}
.bg-gray{
    background-color: gray;
}



/* INIZIO HEADER */
header{
    background-color: #0084FD;
    color: white;
}
header .col{
    width: 50%;
   padding: 10px;
   display: flex;
   align-items: center;
    
}
header .menu-desk{
    display: none;
    
    
}
.header-content{
   
    display: flex;
    align-items: center;
}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
li button {
    border-radius: 50px;
    color: black;
    padding: 5px;
    border: none;
}


/* INIZIO JUMBOTRON */
.jumbotron .col{
    width: 100%;
    margin: 20px 0;
    
}
.jumbotron .img-phone{
    max-width: 250px;
    width: 100%;
    margin: auto;
}

.jumbotron-text{
    text-align: start;
}
.jumbotron-content{
    text-align: center;
    line-height: 2;
    padding: 20px;
}

.jumbotron-content h2{
    color: #0084FD;
    margin: 10px 0;

}
.jumbotron .symbols{
    color: #0084FD;;
    height: 80px;
    width: 80px;
}
.jumbotron button{
    background-color: #0084FD;
    color: white;
    border-radius: 50px;
    padding: 10px 70px;
}
/* INIZIO PLANNING */
.planning{
    background-color: #9791DE;
    padding-bottom: 50px;
}
.planning .col{
    
    width: 100%;
    margin: 20px 0;
  
}
.planning  img{
    width: 100%;
}
.app-dev img{
    width: 100%;
    max-width: 250px;
}
.planning .app-dev{
    margin: auto;
    padding: 20px;
    max-width: 300px;
    background-color: #fff;
    text-align: center;
}
.strategic h2{
    margin: 30px 0;
}
.app-dev h2{
    margin:20px 0
}
.strategic{
    color: #fff;
}
.app-dev button{
    margin-top: 30px;
    padding: 5px 12px;
    font-weight: bold;
    font-size: 15px;
    background-color: #9791DE;
    color: white;
    border-radius: 100%;
}


/* INIZIO TESTIMONIALS */
.testimonials .col{
    
    width: 100%;
    margin: 20px 0;
}
.testimonials-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.testimonials-img{
    border-radius: 100%;
    height: 150px;
    width: 150px;
    
    background-size: cover;
    background-position: center;
    
}
.testimonials-text{
    height: 150px;
    width: 100%;
    margin: 30px 0;
}
.benefit .col{
    height: 300px;
    width: 100%;
    margin: 20px 0;
}
.testimonials .testimonials1{
    background-image: url("../img/testimonial1.jpg");
}
.testimonials .testimonials2{
    background-image: url("../img/testimonial2.jpg");
}
.testimonials .testimonials3{
    background-image: url("../img/testimonial3.jpg");
}




/* VERSIONE TABLET  */
@media screen and (min-width:480px) {

    /* JUMBOTRON VERSIONE TABLET  */
    .jumbotron .col{
        width: calc(100%/3 - 20px);
        margin: 10px;
    }
    .jumbotron .col.first-col{
        width: calc(100%/3 *2 - 20px);
    }
    /* TESTIMONIALS TABLET */
    .testimonials-text{
        width: 70%;
    }
    /* BENEFIT VERSIONE TABLET  */
    .benefit .col{
        width: calc(100%/2 - 20px);
        margin: 10px;
    }



    
}






/* VERSIONE DESKTOP */
@media screen and (min-width:768px ) {

    .container{
        max-width: 1200px;
    }
    /* HEADER VERSIONE DESKTOP */
    header .menu-desk{
        display: flex;
        list-style-type: none;
        justify-content: space-between ;
        width: 100%;
    }
    header .menu-burger{
        display: none;
    }
    
    /* JUMBOTRON VERSIONE DESKTOP  */
    .jumbotron .col{
        width: calc(100%/3 - 20px);
        margin: 10px;
    }
    .jumbotron .col.first-col{
        width: calc(100%/3 *2 - 20px);
        align-items: flex-end;
        display: flex;
        
    }
    .first-col .jumbotron-content{
        display: flex;
        align-items:flex-end;
        
    }

    /* PLANNING VERSIONE DESKTOP  */
    .planning .col{
        width: calc(100%/2 - 20px);
        
        margin: 10px;
    }
    .planning .row{
        align-items: flex-end;
    }
    /* TESTIMONIALS DESKTOP */
    .testimonials-text{
        width: 70%;
    }
    /* BENEFIT VERSIONE DESKTOP  */
    .benefit .col{
        width: calc(100%/3 - 20px);
        margin: 10px;
    }
}