*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    width: 90%;
    
    margin: auto;

}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
/* CLASSI LAYOUT */
.border{
    border: 1px solid black;
}
.border-radius{
    border-radius: 15px;
}
/* CLASSI COLORE */
.bg-yellow{
    background-color:lightblue;
}
.bg-gray{
    background-color: gray;
}



/* INIZIO HEADER */
header{
    background-color: lightskyblue;
}
header .col{
    width: 50%;
   padding: 10px;
    
}
header .menu-desk{
    display: none;
}
.header-content{
   
    display: flex;
    align-items: center;
}

.header-menu{
    display: flex;
    justify-content: flex-end;
}


/* INIZIO JUMBOTRON */
.jumbotron .col{
    width: 100%;
    margin: 20px 0;
    height: 300px;
}

/* INIZIO PLANNING */
.planning .col{
    height: 400px;
    width: 100%;
    margin: 20px 0;
  
}
/* INIZIO TESTIMONIALS */
.testimonials .col{
    
    width: 100%;
    margin: 20px 0;
}
.testimonials-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.testimonials-img{
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
.testimonials-text{
    height: 150px;
    width: 100%;
    margin: 30px 0;
}





/* VERSIONE TABLET  */
@media screen and (min-width:480px) {

    /* JUMBOTRON VERSIONE TABLET  */
    .jumbotron .col{
        width: calc(100%/3 - 20px);
        margin: 10px;
    }
    .jumbotron .col.first-col{
        width: calc(100%/3 *2 - 20px);
    }
    /* TESTIMONIALS TABLET */
    .testimonials-text{
        width: 70%;
    }


    
}






/* VERSIONE DESKTOP */
@media screen and (min-width:768px ) {

    .container{
        max-width: 1200px;
    }
    /* HEADER VERSIONE DESKTOP */
    header .menu-desk{
        display: flex;
        list-style-type: none;
        justify-content: space-between ;
        width: 100%;
    }
    header .menu-burger{
        display: none;
    }
    
    /* JUMBOTRON VERSIONE DESKTOP  */
    .jumbotron .col{
        width: calc(100%/3 - 20px);
        margin: 10px;
    }
    .jumbotron .col.first-col{
        width: calc(100%/3 *2 - 20px);
    }

    /* PLANNING VERSIONE DESKTOP  */
    .planning .col{
        width: calc(100%/2 - 20px);
        
        margin: 10px;
    }
    /* TESTIMONIALS DESKTOP */
    .testimonials-text{
        width: 70%;
    }
}